
#subdiv1{
    padding: 10px;
}
img{
    padding: 10px;
}
#div1{
    min-height: 300px;
    margin: 10px;
    padding: 40px;
}
#div2{
    min-height: 600px;
    margin: 10px;
    padding: 40px; 
}
#di1{
    min-height: 600px;   
}
#di2{
    min-height: 600px;
}
#sub1{
    min-height: 300px;
}
#sub2{
    min-height: 300px;   
}
#subone{
    padding: 10px;
    min-height:210px; 
}

#subdiv2{
    margin-top: 10px;
}

#sub{
    margin-top: 5px;
}
h1{
    text-align: center;
}




