<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Home</a></li>
      <li routerLinkActive="active"><a routerLink="gallery">Gallery</a></li>
      <li routerLinkActive="active"><a routerLink="adds">Adds</a></li>
      <li routerLinkActive="active"><a routerLink="details">Details</a></li>
      <li routerLinkActive="active"><a routerLink="temp-Driven">Temp-Driven</a></li>
      <li routerLinkActive="active"><a routerLink="reactive">Reactive</a></li> 
      <li routerLinkActive="active"><a routerLink="pipes">Pipes</a></li> 
      <li routerLinkActive="active"><a routerLink="http">HttpData</a></li>  
      <li routerLinkActive="active"><a routerLink="chart">Chart</a></li> 

    </ul>
  </div>
</nav>
<h1>{{ title }}</h1>
<router-outlet></router-outlet>






