<div class="col-md-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Label</td>
                <td>Value</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Download Sales</td>
                <td>300</td>
            </tr>
            <tr>
                <td>In-Store Sales</td>
                <td>500</td>
            </tr>
            <tr>
                <td>Mail Sales</td>
                <td>100</td>
            </tr>                
        </tbody>
    </table>    
</div>