<div class="row" id="subdiv1">
    <div id="one" class="col-sm-4">
        <img src="https://yellowpencil.com/assets/blog/banners/banner-angularjs.jpg" class="img-fluid"  width="100%" height="200px">
    </div>
    <div id="two" class="col-sm-4">
        <img src="https://yellowpencil.com/assets/blog/banners/banner-angularjs.jpg" class="img-fluid" width="100%" height="200px">
    </div>
    <div id="three" class="col-sm-4">
        <img src="https://yellowpencil.com/assets/blog/banners/banner-angularjs.jpg" class="img-fluid"  width="100%" height="200px">
    </div>
</div> 