<hr>STRING<hr>

<h4>{{name | uppercase}}</h4>
<h4>{{name | lowercase}}</h4>
<h4>{{name | slice: '2'}}</h4>
<h4>{{name | slice: '2' : '4'}}</h4>
<h4>{{name | titlecase}}</h4>

<hr>NUMBER<hr>

<h4>{{2.777}}</h4>
<h4>{{2.777 | number: '1.2-3'}}</h4>
<h4>{{2.777 | number: '2.2-3'}}</h4>
<h4>{{2.777 | number: '2.4-4'}}</h4>
<h4>{{2.777 | number: '2.2-2'}}</h4>

<hr>CURRENCY<hr>

<h4>{{2.77}}</h4>
<h4>{{2.77 | currency:'USD':true}}</h4>
<h4>{{2.77 | currency:'GBP':true}}</h4>
<h4>{{2.77 | currency:'EUR':true}}</h4>

<hr>DATE<hr>

<h4>{{date}}</h4>
<h4>{{date | date:'fullDate'}}</h4>
<h4>{{date | date:'shortDate'}}</h4>
<h4>{{date | date:'mediumTime'}}</h4>
<h4>{{date | date:'shortTime'}}</h4>

<hr>PERCENT<hr>

<h4>A: {{a | percent}}</h4>
<h4>B: {{b | percent:'4.3-5'}}</h4>

<hr>JSON<hr>

<pre>{{object | json}}</pre>

